<div class="container my-4">

<p class="font-weight-bold">Arama Kriteri</p>

<select class="mdb-select md-form" searchable="Search here..">
    <option value="" disabled selected>Renk seç</option>
    <option value="1">Beyaz</option>
    <option value="2">Kırmızı</option>
    <option value="3">Mor</option>
    <option value="3">Sarı</option>
    <option value="3">Yeşil</option>
</select>

</div>
<div class="container my-4">

<button type="submit" class="btn btn-primary with:200" >Ara</button>


</div>